@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-petch-regular {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-stroke-medium {
    -webkit-text-stroke-width: medium;
  }
}
